@model CapaNegocio.Entities.MATERIA

@{
    ViewBag.Title = "Details";
    Layout = null;
}

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MAT_CODIGO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAT_CODIGO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAT_NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAT_NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAT_NIVEL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAT_NIVEL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAT_NIVEL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAT_NIVEL)
        </dd>

    </dl>
</div>

